.git
.idea
**/__pycache__
**/.venv
**/node_modules
**/dist
**/.vite
**/*.md
!docs/Docker部署.md
prototype
.env
.env.*
!.env.example
!.env.example.A
!.env.example.B
**/tsbuildinfo
**/*.tsbuildinfo
docker/allinone/images/*.tar
docker/external/images/*.tar
